{{template "head.html" .}}
<!-- END SIDENAV-->
<!-- CONTENT -->
<div id="page-content">
  <div class="login-form">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <div class="section-title">
            <span class="theme-secondary-color">用户</span> 登录
          </div>
        </div>
      </div>
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12 m6 l4 offset-m3 offset-l4">
              <input id="username" type="text" class="validate">
              <label for="username">用户名</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m6 l4 offset-m3 offset-l4">
              <input id="password" type="password" class="validate">
              <label for="password">密码</label>
            </div>
          </div>
        </form>
          <div class="row">
            <div class="input-field col s12 m6 l4 offset-m3 offset-l4 center">
              <input class="waves-effect waves-light btn log" value="登录" type="submit"></div>
          </div>
       
          <script>
             $(function(){
               $(".log").click(function(){
                 var user = $("#username").val(),
                 password=$("#password").val()
                 //beeg必须加JSON.stringify
                 var data = JSON.stringify({"rel_name":user,"password":password})
                 //console.log(user,mobile,password) ;
                 $.post("/api/login",data,function(data){
                   layer.msg(data.errmsg)
                   if(data.errno==200){
                     timer=setInterval(function(){
                      location.href="/"
                     },2000)
                     
                   }
                 },"json")
               })
             })
          </script>
       
      </div>
      <div class="row fp-text">
        <div class="col s12">
          <div class="forgot-password-link">
            <a href="#">忘记密码？</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <div class="or-line">
            <div class="ol-or">OR</div>
            <div class="ol-line"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <div class="sign-in-sosmed">
            <div class="sign-in-icon sii-facebook">
              <i class="fab fa-facebook-f"></i>
            </div>
            <div class="sign-in-icon sii-twitter">
              <i class="fab fa-twitter"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 center">
           Don't have an Account ? <a href="">Sign Up</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END CONTENT-->
{{template "foot.html" .}}